<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>DvdRental</display-name>
	<welcome-file-list>
		<welcome-file>/web/jsp/login/Login.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
       /WEB-INF/ApplicationContext.xml
     </param-value>
	</context-param>
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.servletsuite.com/servlets/waittag</taglib-uri>
			<taglib-location>/WEB-INF/tld/waittaglib.tld</taglib-location>
		</taglib>
	</jsp-config>
	<servlet>
		<description></description>
		<display-name>SSOLoginContoller</display-name>
		<servlet-name>SSOLoginContoller</servlet-name>
		<servlet-class>com.dvdrental.inventory.web.impl.SSOLoginContoller</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SSOLoginContoller</servlet-name>
		<url-pattern>/SSOLoginContoller</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.dvdrental.inventory.web.impl.LoginController</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<!-- <filter>
		<filter-name>trimFilter</filter-name>
		<filter-class>com.cj.trim.trimFilter</filter-class>
		<init-param>
			<param-name>removeComments</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>trimFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>trimFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>trimFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>BrowserCache</display-name>
		<filter-name>BrowserCache</filter-name>
		<filter-class>com.dvdrental.filters.BrowserCache</filter-class>
		<init-param>
			<param-name>Cache-control</param-name>
			<param-value>no-cache, no-store, must-revalidate</param-value>
		</init-param>
		<init-param>
			<param-name>Pragma</param-name>
			<param-value>no-cache</param-value>
		</init-param>
		<init-param>
			<param-name>Expires</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BrowserCache</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BrowserCache</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BrowserCache</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BrowserCache</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BrowserCache</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping> -->
	
</web-app>